.container {
	position: absolute;
	text-align: center;
	top: 0%;
	left: 0;
	width: 100%;
	font-family: Raleway;
}
@font-face {
    font-family: "Raleway";
	src: url('fonts/raleway_thin-webfont.ttf') format("truetype");
}

#title {
	color: black;
	height: 80vh;
	width: 100vh;
	margin: 0 auto;
	font-size: 13vh; /* vh is according to viewport */
}

#title a {
	font-family: Raleway; 
	color: black; 
	border-radius: 0px; 
	padding: 0px; 
	text-decoration: none; 
	font-weight: normal; 
}
#title a:hover {
	text-shadow: 0px 0px 1px black;
}

body {
	background-color: #cbf2d8;
}

section {
	margin: 0 auto;
}
#projectsSection {
	
}

#aboutSection {
	text-align: center;
	width: 100%;
	background-color: black;
	opacity: .5;
	margin-top: 100px;
	color: black;
	padding-bottom: 500px;
}

#aboutSection p {
	font-size: 300%;
	font-family: Raleway;
	color: white;
}

#aboutSection h1 {
	font-size: 500%;
	font-family:Raleway;
	color:white;
}


/* sets the color, position, and style for the box*/
#navigationBar {
	position: fixed; 
	top: 0; 
	width: 100%;
	background-color: rgba(255, 255, 255, 1); 
	list-style-type: none; 
	text-align: center; 
	box-shadow: 0px 0px 15px 0px;
}
	
#navigationBar li {
	display: inline-block; 
	color: white; 
	float: center;
	font-size: 150%;
	text-transform: lowercase;
}

#navigationBar a {
	font-family: Raleway; 
	color: black; 
	border-radius: 0px; 
	padding: 0px; 
	text-decoration: none; 
	font-weight: normal; 
}

#navigationBar a:hover {
	/* the first two values dictate how far away the shadow is from the letter*/
	text-shadow: 0px 0px 25px black;
}






