.container {
	position: absolute;
	text-align: center;
	top: 0%;
	left: 0;
	width: 100%;
	font-family: Georgia;
}

#title {
	font-size: 600%;
	color: black;

}

#title a {
	font-family: Georgia; 
	color: black; 
	border-radius: 0px; 
	padding: 0px; 
	text-decoration: none; 
	font-weight: normal; 
}
#title a:hover {
	text-shadow: 0px 0px 5px black;
}

body {
	background-image: url("wallpaper.jpg");
}

#aboutSection {
	
	margin: 0 auto; /* centers the section*/
	text-align: center;
	width: 75%;
	background-color: black;
	opacity: .25;
	margin-top: 100px;
	color: white;
}


/* sets the color, position, and style for the box*/
#navigationBar {
	position: fixed; 
	top: 0; 
	width: 100%;
	background-color: rgba(0,0,0,0.5); 
	list-style-type: none; 
	text-align: center; 
	box-shadow: 0px 0px 15px 0px;
}
	
#navigationBar li {
	display: inline-block; 
	color: white; 
	float: center;
	font-size: 150%;
	text-transform: lowercase;
}

#navigationBar a {
	font-family: Georgia; 
	color: white; 
	border-radius: 0px; 
	padding: 0px; 
	text-decoration: none; 
	font-weight: normal; 
}

#navigationBar a:hover {
	/* the first two values dictate how far away the shadow is from the letter*/
	text-shadow: 0px 0px 10px white;
}






