.main-body {
  text-align: center;
  font-family: Raleway;
  margin: 0;
}
@font-face {
  font-family: "Raleway";
	src: url('fonts/raleway_thin-webfont.ttf') format("truetype");
}
#centerpiece {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #CCC;
  min-width: 10vh;
  border-radius: 4vh;
  height: 40vh;
}
#title h {
  font-size: 5vh;
  text-transform: lowercase;
}
#title p {
    text-transform: lowercase;
    font-size: 3vh;
    letter-spacing: 3px;
    margin: 4vh;
}





