.main-body {
  text-align: center;
  font-family: Raleway;
  margin: 0;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@font-face {
  font-family: "Raleway";
	src: url('fonts/raleway_thin-webfont.ttf') format("truetype");
}

#centerpiece {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 80vh;
    border-radius: 4px;
    padding: 3vh;
    cursor: default;
    color: white;
}
#title h {
  font-size: 6vh;
  text-transform: uppercase;
}
#title p {
    text-transform: lowercase;
    font-size: 3vh;
    letter-spacing: 3px;
    margin: 0px;
    padding-bottom: 20px;
}
#personalpic {
    border-radius: 100px;
    height: 300px;
    margin-top: 10px;
}

#nav {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    margin: 0;
}

li {
  padding: 5px;
  font-size: 3vh;
}

li a {
  text-decoration: none;
  color: white;
	-webkit-transition: 600ms all;
    -moz-transition: 600ms all;
    transition: 600ms all;
}
li a:hover {
  font-size: 3vh;
  color: green;
}

.credits-bar {
  position: fixed;
  bottom: 0;
  visibility: hidden; 
}

a {
  text-decoration: none;
  color: grey;
}
