.main-body {
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
  background-color: white;
}

#centerpiece {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
    padding: 3vh;
    cursor: default;
    color: black;
}
#title h {
  font-size: 10vh;
}
#title p {
    font-size: 3vh;
    margin: 0px;
    padding-bottom: 20px;
}
#personalpic {
    border-radius: 4px;
    height: 300px;
    margin-top: 10px;
}

#nav {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    margin: 0;
}

li {
  padding: 5px;
  font-size: 3vh;
}

li a {
  text-decoration: none;
  color: black;
	-webkit-transition: 400ms all;
    -moz-transition: 400ms all;
    transition: 400ms all;
}
li a:hover {
  color: red;
}

a {
  text-decoration: none;
  color: grey;
}
